/* Small Device - 576px */
@media screen and (max-width: 576px) {  
    nav > .menu,
    nav > .btn{
        display: none;
    }
    nav{
        padding: 18px 20px;
    }
    nav .brand{
    font-size: 2.5rem;
    }
    nav .hamburger-menu{
    display: inline-block;
    }

    /* hero section */
    #hero {
        background-image: url(./assets/hero-bg.png);
        background-repeat: no-repeat;
        background-size: 150% 150%;
        background-position: center;
        padding: 40px 20px;
    }
    #hero .hero-container .logo-container {
        width: 200px;
        height: 200px;
    }
    #hero .hero-container .logo-container img{
        width: 100%;  
    }

    #hero .hero-container .logo-container .microphone img{
        width: 50%;
    }

    #hero .hero-container .logo-container .badge{
        font-size: 1.6rem;
        top: 0;
        right: 0; 
    }
    #hero .hero-container .hero-content h1{
        font-size: 4rem;
    }


}