/* Small Device - 576px */
@media screen and (max-width: 576px) {
    nav > .menu,
    nav > .btn{
        display: none;
    }
    nav{
        padding: 18px 20px;
    }
    nav .brand{
    font-size: 2.5rem;
}
    nav .hamburger-menu{
    display: inline-block;
}
}