/* Google Font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --bg-primary-color: #1A0B2E;
    --text-primary-color: #ffffff;
    --text-secondary-color: #d1cfd8;
    --accent-color: #00ff88;
    --navy-color: #1a0b2e;
    --bg-primary-gradient: linear-gradient(25deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}

html{
    font-size: 10px;
}

body{
    background-color: var(--bg-primary-color);
    color: #ffffff;
}
/* Common Styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li{
list-style-type: none;
}

li a{
    text-decoration: none;
}

.btn{
    font-size: 1.6rem;
    font-weight: 600;
    gap: 4px;
    padding: 12px 16px;
    color: var(--text-primary-color);
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    background: var(--bg-primary-gradient);
}

.btn-secondary{
    font-size: 1.6rem;
    font-weight: 600;
    gap: 4px;
    padding: 12px 16px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 10000px;
    cursor: pointer;
    background: none;
}

.text-gradient{
   background: var(--bg-primary-gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent ;
}
/* Header Section */
nav{
    padding: 16px 0;
}
nav .brand{
    font-size: 3.5rem;
}
.menu{
    gap: 32px;
}
.menu li a{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-primary-color);
}
nav .hamburger-menu{
    display: none;
}

/* hero section */
#hero{
    background-image: url(./assets/hero-bg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 100px 0;
    border-top: 1px solid #412567;
}

#hero .hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

#hero .hero-container .logo-container{
    width: 350px;
    height: 350px;
    position: relative;
}
#hero .hero-container .logo-container .badge{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--navy-color);
    text-transform: uppercase;
    background-color: var(--accent-color);
    padding: 8px 16px;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    right: 35px; 
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
#hero .hero-container .logo-container .microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero .logo-container .logo-container  img{
    width: 100%;
}
#hero .hero-container .hero-content h1{
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 8px;
}
#hero .hero-container .hero-content p{
    font-size: 1.6rem;
    margin-bottom: 24px;
    color: var(--text-secondary-color);
}
#hero .hero-container .hero-content p{
    font-size: 1.6rem;
    margin-bottom: 24px;
    color: var(--text-secondary-color);
}
#hero .hero-container .hero-content .btn-group{
    justify-content: center;
    gap: 8px;
}

#hero .hero-container .hero-content .btn-group{
    justify-content: center;
    gap: 8px;
}

/* Main Styles */